/**
 * Custom Stylesheet
 * Overrides Materialize defaults
 * Written by Jack Baumann
 */
/* The carousel has a problem where it loads with a height of 0 if images are cached. */
/*.carousel-slider {
   height: 300px !important;
}*/

/* Code to sticky the footer to the bottom of the window.*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 400px;
}

.icon-block i {
    font-size: 75px;
}

mark {
    background-color: rgb(73, 204, 91);
    color: white;
}

/* label color */
.input-field label {
    color: black;
}
/* label focus color */
.input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
    color: magenta;
}
/* label underline focus color */
.input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid magenta;
    box-shadow: 0 1px 0 0 magenta;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: magenta;
}

/* icon prefix inactive focus color */
.input-field .prefix.inactive {
    color: red;
}

/* radio button colors */
.with-gap[type="radio"]:checked+label:after {
    background-color: green;
    border-color: green;
}
.with-gap[type="radio"]:checked+label:before {
    border-color: green;
}