/**
 * Custom Stylesheet
 * Overrides Materialize defaults
 * Written by Jack Baumann
 */
/* The carousel has a problem where it loads with a height of 0 if images are cached. */
/*.carousel-slider {
   height: 300px !important;
}*/

/* Code to sticky the footer to the bottom of the window.*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 400px;
}

.icon-block i {
    font-size: 75px;
}

mark {
    background-color: rgb(73, 204, 91);
    color: white;
}

/* label color */
.input-field label {
    color: black;
}
/* label focus color */
.input-field input[type]:focus + label {
    color: magenta;
}
/* label underline focus color */
.input-field input[type]:focus {
    border-bottom: 1px solid magenta;
    box-shadow: 0 1px 0 0 magenta;
}
/* valid color */
.input-field input[type=email].valid, .input-field input[type=password].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=email].invalid, .input-field input[type=password].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: magenta;
}

.input-field textarea:focus + label.active {
    color: magenta;
}

/* radio button colors */
.with-gap[type="radio"]:checked+label:after {
    background-color: green;
    border-color: green;
}
.with-gap[type="radio"]:checked+label:before {
    border-color: green;
}

.picker__date-display, .picker__weekday-display {
    background-color: green;
}
.picker__day.picker__day--today {
    color: green;
}
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: green;
}
.picker__today {
    color: green;
}
.picker__clear {
    color: red;
}
.picker__close {
    color: yellow;
}

ul.dropdown-content.select-dropdown li span {
    color: black;
}
